<div layout="column">
    <md-card flex="100">
        <img src="assets/images/backgrounds/material-backgrounds/mb-bg-06-narrow.png" alt="Card Image">
        <md-card-content>
            <div layout="row" align="center">
                <md-input-container flex="25">
                    <img src="assets/images/files/favicon.png">
                </md-input-container>
                <md-input-container flex="50">
                    <div layout="column">
                        <h2>Hospital Regional de Zona "Benito Juarez "</h2>
                        <h3>Secretaria de Salud del Estado de Guanajuato</h3>
                        <h4>Orgullo y Compromiso de Todos</h4>
                    </div>
                </md-input-container>
                <md-input-container flex="25">
                    <img src="assets/images/files/sectorSalud.png" >
                </md-input-container>
            </div>
        </md-card-content>
    </md-card>

    <md-card class="md-padding card1" flex="100">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Búsqueda de Paciente</span>
            </md-card-title-text>

        </md-card-title>
        <md-card-content>
            <md-autocomplete
                    class="margin-bottom-20"
                    ng-disabled="vm.isDisabled"
                    md-no-cache="vm.noCache"
                    md-selected-item="selectedItem"
                    md-search-text-change="vm.searchTextChange(vm.searchText)"
                    md-search-text="vm.searchText"
                    md-selected-item-change="vm.selectedItemChange(item)"
                    md-items="item in vm.querySearch(vm.searchText)"
                    md-item-text="item.display"
                    md-min-length="0"
                    placeholder="Digite el nombre del Paciente">
                <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.display}}</span>
            </md-autocomplete>
        </md-card-content>
    </md-card>
    <div layout="row">
    <md-card flex="25">
        <form>
            <div layout="column">
            <h2>Registro de Enfermedad</h2>
            <md-input-container flex="25">
                <label translate>Enfermedad Cronico Degenerativa</label>
                <md-select ng-model="vm.antecedentesFam.enfermedad" name="select" >
                    <md-option ng-repeat="enfe in vm.enfermedades" ng-value="enfe.nombre">{{enfe.nombre}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex="25">
                <label translate>Grado de Parentezco</label>
                <md-select ng-model="vm.antecedentesFam.parentesco" name="select" >
                    <md-option value="1">1º</md-option>
                    <md-option value="2">2º</md-option>
                    <md-option value="3">3º</md-option>
                </md-select>
            </md-input-container>
                <md-input-container flex="25">
                    <label translate>Lado de Parentezco</label>
                    <md-select ng-model="vm.antecedentesFam.ladoparentesco" name="select" >
                        <md-option value="P">Padre</md-option>
                        <md-option value="M">Madre</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Notas</label>
                    <input type="text" ng-model="vm.antecedentesFam.notas">
                </md-input-container>
                <md-input-container flex>
                    <md-button class="md-primary md-raised"
                               aria-label="guardar" ng-click='vm.crearAntecedenteFamiliar()'>
                        <md-icon md-font-icon="fa fa-save"></md-icon>
                    </md-button>
                </md-input-container>

            </div>
        </form>
    </md-card>
    <md-card flex="75">
        <div layout="row" layout-sm="column" layout-md="column">
            <md-table-container>
                <table md-table="" md-row-select="" ng-model="vm.antecedentesFamiliares" flex="100">
                    <thead md-head="" md-order="vm.query.order">
                    <tr md-row="md-row">
                        <th md-column="md-column" md-order-by="id" flex><span>Id</span></th>
                        <th md-column="md-column" md-order-by="enfermedad" flex="35"><span translate="">Enfermedad</span></th>
                        <th md-column="md-column" md-order-by="cantidad" flex="15"><span translate="">Parentezco</span>
                        <th md-column="md-column" md-order-by="cantidad" flex="15"><span translate="">Grado</span>
                        <th md-column="md-column" md-order-by="notas" flex="40"><span translate="">Notas</span>
                            <!-- Cuerpo de la tabla-->
                        </th>
                    </tr>
                    </thead>
                    <tbody md-body="md-body">
                    <tr md-row="md-row" md-select="enfe" md-select-id="{{enfe}}"
                        ng-repeat="enfe in vm.antecedentesFamiliares | orderBy:vm.query.order">
                        <td md-cell="md-cell" flex="35">{{enfe.id}}</td>
                        <td md-cell="md-cell" flex="35">{{enfe.enfermedad}}</td>
                        <td md-cell="md-cell" flex="15">{{enfe.ladoparentesco}}</td>
                        <td md-cell="md-cell" flex="15">{{enfe.parentesco}}</td>
                        <td md-cell="md-cell" flex="40">{{enfe.notas}}</td>
                        <td md-cell="md-cell" ng-click="$event.stopPropagation()" flex="10">
                            <md-button ng-click="vm.eliminarAntecedenteFamiliar(antecedente)" class="md-fab md-warn md-mini">
                                <md-icon md-font-icon="fa fa-times-circle"></md-icon>
                            </md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>
        </div>
    </md-card>
    </div>
</div>