<div flex layout="column">
    <md-card flex="100">
        <img src="assets/images/backgrounds/material-backgrounds/mb-bg-06-narrow.png" alt="Card Image">
        <md-card-content>
            <div layout="row" align="center">
                <md-input-container flex="25">
                    <img src="assets/images/files/favicon.png">
                </md-input-container>
                <md-input-container flex="50">
                    <div layout="column">
                        <h2>Hospital Regional de Zona "Benito Juarez "</h2>
                        <h3>Secretaria de Salud del Estado de Guanajuato</h3>
                        <h4>Orgullo y Compromiso de Todos</h4>
                        <h1>Consulta Médica</h1>
                    </div>
                </md-input-container>
                <md-input-container flex="25">
                    <img src="assets/images/files/sectorSalud.png" >
                </md-input-container>
            </div>
        </md-card-content>
    </md-card>

    <div flex="80" layout='row'>

        <div flex="50">
            <md-card class="md-padding card1">
                <md-card-content>
                    <h2>Datos Paciente</h2>
                    <md-input-container md-no-float class="md-block">
                        <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
                        <input type="text" placeholder="Nombre del Paciente" ng-model="vm.user.user1">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <md-icon md-font-icon="zmdi zmdi-male"></md-icon>
                        <input type="text" placeholder="Presión" ng-model="vm.user.nombre2">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <md-icon md-font-icon="zmdi zmdi-alarm-check"></md-icon>
                        <input type="text" placeholder="Frecuecia Cardiaca" ng-model="vm.user.nombre3">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <md-icon md-font-icon="zmdi zmdi-alarm-check"></md-icon>
                        <input type="text" placeholder="Frecuecia respiratoria" ng-model="vm.user.nombre4">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <md-icon md-font-icon="zmdi zmdi-sun"></md-icon>
                        <input type="text" placeholder="Temperatura °C" ng-model="vm.user.nombre5">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
                        <input type="text" placeholder="Peso en Kg" ng-model="vm.user.aPaterno6">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <md-icon md-font-icon="zmdi zmdi-ruler"></md-icon>
                        <input type="text" placeholder="Talla en cm" ng-model="vm.user.aPaterno">
                    </md-input-container>

                    <div>
                        <md-datepicker ng-model="vm.user.fecha1" md-placeholder="Fecha de Nacimiento"></md-datepicker>
                    </div>
                </md-card-content>
            </md-card>
        </div>

        <!-- Second part-->
        <div flex="50">
            <md-card class="md-padding card1">
                <md-card-content>
                    <h2>Datos Consulta</h2>
                    <md-input-container class="md-block">
                        <md-icon md-font-icon="zmdi zmdi-eye"></md-icon>
                        <textarea ng-model="vm.user.telefono" placeholder="Diagnostico" md-maxlength="250" rows="5"></textarea>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <md-icon md-font-icon="zmdi zmdi-pin"></md-icon>
                        <textarea ng-model="vm.user.direccion01" placeholder="Tratamiento" md-maxlength="250" rows="5"></textarea>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <md-icon md-font-icon="zmdi zmdi-eye"></md-icon>
                        <input type="text" placeholder="Observaciones" ng-model="vm.user.sucursal">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <md-icon md-font-icon="zmdi zmdi-account-box"></md-icon>
                        <input type="text" placeholder="Estudios complementarios" ng-model="vm.user.tipo">
                    </md-input-container>


                    <md-input-container class="md-block">
                        <md-icon md-font-icon="zmdi zmdi-account-box"></md-icon>
                        <input type="text" placeholder="Nombre del médico" ng-model="vm.user.tipo2">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <md-icon md-font-icon="zmdi zmdi-account-box"></md-icon>
                        <input type="text" placeholder="cedula Profesional del médico" ng-model="vm.user.tipo3">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <md-icon md-font-icon="zmdi zmdi-account-box"></md-icon>
                        <input type="text" placeholder="Consultorio atendido" ng-model="vm.user.tipo4">
                    </md-input-container>

                    <div>
                        <md-datepicker ng-model="vm.user.fecha2" md-placeholder="Proxima cita"></md-datepicker>
                    </div>


                    <!--md-input-container class="md-block">
                        <md-icon md-font-icon="zmdi zmdi-card"></md-icon>
                        <input type="text" placeholder="INE"  ng-model="vm.user.ine">
                    </md-input-container-->


            </md-card>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="vm.guardarUsuario()" class="md-raised md-primary">Guardar</md-button>
                <md-button>Cancelar</md-button>
                </md-card-content>
            </md-card-actions>
        </div>

    </div>
</div>
