<div layout="column" flex layout-padding layout-fill layout-align="center center" >
    <md-card flex="100">
        <img src="assets/images/backgrounds/material-backgrounds/mb-bg-06-narrow.png" alt="Card Image">
        <md-card-content>
            <div layout="row" align="center">
                <md-input-container flex="25">
                    <img src="assets/images/files/favicon.png">
                </md-input-container>
                <md-input-container flex="50">
                    <div layout="column">
                        <h2>Hospital Regional de Zona "Benito Juarez "</h2>
                        <h3>Secretaria de Salud del Estado de Guanajuato</h3>
                        <h4>Orgullo y Compromiso de Todos</h4>
                    </div>
                </md-input-container>
                <md-input-container flex="25">
                    <img src="assets/images/files/sectorSalud.png" >
                </md-input-container>
            </div>
        </md-card-content>
    </md-card>
    <div flex="100" flex-xs="100">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <div>
                        <h2>Indicadores</h2>

                        <md-select placeholder="Elige tipo de indicador" ng-model="vm.requisito.tipo_solicitud">
                            <md-option value="Envio">Consultas</md-option>
                            <md-option value="Recoleccion">Pacientes</md-option>
                            <md-option value="3">Actividad en urgencias</md-option>
                        </md-select>
                        <!-- opc 1-->
                        <div ng-show="vm.requisito.tipo_solicitud=='Envio'">
                            <canvas  class="chart-pie" chart-data="vm.data1" chart-labels="vm.labels1" chart-legend="true" chart-options="vm.options1"></canvas>
                        </div>
                        <div ng-show="vm.requisito.tipo_solicitud=='Recoleccion'">
                            <canvas  class="chart-line" chart-data="vm.data2" chart-labels="vm.labels2" chart-legend="true" chart-series="vm.series2" chart-options="vm.options2"></canvas>
                        </div>
                        <div ng-show="vm.requisito.tipo_solicitud=='3'">
                            <canvas  class="chart-line" chart-data="vm.data" chart-labels="vm.labels" chart-legend="false" chart-options="vm.options"></canvas>
                        </div>

                        <!-- opc 2-->


                        <!-- opc 3-->

                        <md-input-container class="md-block">
                            <label>Comentario</label>
                            <textarea ng-model="vm.requisito.comentario" md-maxlength="100"></textarea>
                        </md-input-container>
                    </div>
                </md-card-title-text>


            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="vm.guardarSolicitud()" class="md-raised md-primary">Guardar</md-button>
                <md-button>Cancelar</md-button>
            </md-card-actions>
        </md-card>

        <!--md-toolbar class="md-table-toolbar md-default">
            <div class="md-toolbar-tools">
                <span>Nutrition</span>
            </div>
        </md-toolbar-->


    </div>
</div>
<!-- opc 1-->

<!-- opc 2-->


<!-- opc 3-->