<div layout="column">
    <md-card flex="100">
        <img src="assets/images/backgrounds/material-backgrounds/mb-bg-06-narrow.png" alt="Card Image">
        <md-card-content>
            <div layout="row" align="center">
                <md-input-container flex="25">
                    <img src="assets/images/files/favicon.png">
                </md-input-container>
                <md-input-container flex="50">
                    <div layout="column">
                        <h2>Hospital Regional de Zona "Benito Juarez "</h2>
                        <h3>Secretaria de Salud del Estado de Guanajuato</h3>
                        <h4>Orgullo y Compromiso de Todos</h4>
                    </div>
                </md-input-container>
                <md-input-container flex="25">
                    <img src="assets/images/files/sectorSalud.png" >
                </md-input-container>
            </div>
        </md-card-content>
    </md-card>

    <md-card class="md-padding card1" flex="100">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Búsqueda de Paciente</span>
            </md-card-title-text>

        </md-card-title>
        <md-card-content>
            <md-autocomplete
                    class="margin-bottom-20"
                    ng-disabled="vm.isDisabled"
                    md-no-cache="vm.noCache"
                    md-selected-item="selectedItem"
                    md-search-text-change="vm.searchTextChange(vm.searchText)"
                    md-search-text="vm.searchText"
                    md-selected-item-change="vm.selectedItemChange(item)"
                    md-items="item in vm.querySearch(vm.searchText)"
                    md-item-text="item.display"
                    md-min-length="0"
                    placeholder="Digite el nombre del Paciente">
                <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.display}}</span>
            </md-autocomplete>
        </md-card-content>
    </md-card>

    <div layout="row">
        <md-card flex="50">
            <form name="signos" novalidate>
                <h2>Signos Vitales</h2>
                <md-input-container class="md-block">
                    <label for="temp">Temperatura</label>
                    <input id="temp" label="temp" name="temp" type="number" ng-model="paciente.temp" min="30" required/>
                    <div ng-messages="signos.temp.$error" md-auto-hide="false" ng-show="signos.temp.$touched">
                        <div ng-message="required">
                            Por favor Introduce la Temperatura
                        </div>
                        <div ng-message="temp">
                            Por Favor Introduce un valor valido
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label for="tension">Tension Arterial</label>
                    <input id="tension" label="tension" name="tension" type="text" ng-model="paciente.tension"  required/>
                    <div ng-messages="signos.tension.$error" md-auto-hide="false" ng-show="signos.tension.$touched">
                        <div ng-message="required">
                            Por favor Introduce la Tension Arterial
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label for="frecuencia">Frecuencia Cardiaca</label>
                    <input id="frecuencia" label="frecuencia" name="frecuencia" type="text" ng-model="paciente.frecuencia"  required/>
                    <div ng-messages="signos.frecuencia.$error" md-auto-hide="false" ng-show="signos.frecuencia.$touched">
                        <div ng-message="required">
                            Por favor Introduce la frecuencia Cardiaca
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label for="frecuenciaresp">Frecuencia Respiratoria</label>
                    <input id="frecuenciaresp" label="frecuenciaresp" name="frecuenciaresp" type="text" ng-model="paciente.frecuenciaresp"  required/>
                    <div ng-messages="signos.frecuenciaresp.$error" md-auto-hide="false" ng-show="signos.frecuenciaresp.$touched">
                        <div ng-message="required">
                            Por favor Introduce la frecuencia Respiratoria
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label for="peso">Peso</label>
                    <input id="peso" label="peso" name="peso" type="peso" ng-model="paciente.peso" min="1" required/>
                    <div ng-messages="signos.peso.$error" md-auto-hide="false" ng-show="signos.peso.$touched">
                        <div ng-message="required">
                            Por favor Introduce el Peso
                        </div>
                        <div ng-message="temp">
                            Por Favor Introduce un peso válido
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label for="talla">Talla (cm)</label>
                    <input id="talla" label="talla" name="talla" type="number" ng-model="paciente.talla" min="30" required/>
                    <div ng-messages="signos.talla.$error" md-auto-hide="false" ng-show="signos.talla.$touched">
                        <div ng-message="required">
                            Por favor Introduce la Talla
                        </div>
                        <div ng-message="temp">
                            Por Favor Introduce un valor valido
                        </div>
                    </div>
                </md-input-container>

                <div class="button-toolbar" layout="row" layout-align="end center">
                    <md-button class="md-primary" ng-disabled="login.$invalid">Enviar</md-button>
                    <md-button>Cancelar</md-button>
                </div>
            </form>
        </md-card>
        <md-card flex="50">
            <canvas class="chart-bar" chart-data="vm.data" chart-labels="vm.labels" chart-legend="true" chart-series="vm.series"></canvas>
        </md-card>

    </div>
</div>
